@{
	ViewData["Title"] = "Donations";
	var transactions = ViewData["transactions"] as List<Transaction>;
}

<div>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Amount</th>
				<th>Transaction Ref</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var transaction in transactions)
		   {
			   <tr>
				   <td>@transaction.Name</td>
				   <td>@transaction.Email</td>
				   <td>@transaction.Amount</td>
				   <td>@transaction.TrxRef</td>
			   </tr>
		   }
		</tbody>
	</table>
</div>
