@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="btn-group">
        <a class="btn btn-primary" asp-controller="Donate" asp-action="Index">Donate</a>
        <a class="btn btn-secondary" asp-controller="Donate" asp-action="Donations">View Donations</a>
    </div>
</div>
